<div class="team-member-card">
  <img {{bindAttr src="avatarUrl"}} class="avatar" />

  <h1>
    {{fullName}}
    <small>{{nickname}}</small>
  </h1>

  <h3>{{title}}</h3>

  <p>Hired at: {{hiredAt}}</p>

  <address>
    <a {{bindAttr href='mailto'}}>{{email}}</a>
  </address>
</div>

<p>{{#linkTo 'teamMembers'}}Back{{/linkTo}}</p>

{{outlet}}
