<h1>
  {{fullName}}
  <small>{{nickname}}</small>
</h1>

<h3>{{title}}</h3>

<img {{bindAttr src="avatarURL"}}/>

<p>Hired at: {{hiredAt}}</p>

<address>
  <a {{bindAttr href='mailto'}}>{{email}}</a>
</address>

<p>{{#linkTo 'teamMembers'}}Back{{/linkTo}}</p>


{{outlet}}
